<ul id="nav">
    <li><a href="./admin">Home page</a></li>
    <li><a href="./orders">Orders</a></li>
    <li><a href="./clients">Clients</a></li>
    <li><a href="./cars">Cars</a></li>
    <li><a href="./orders_employee">Orders for employee</a></li>
    <li><a href="./employees">Employees</a></li>
    <li><a href="./emp_categories">Employee categories</a></li>
    <li><a href="./car_models">Car models</a></li>
    <li><a href="./order_statuses">Order statuses</a></li>
    <li><a href="./users">Users</a></li>
    <li><a href="./logout">Logout</a></li>
</ul>