#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#nav-wrapper {
    width: 100%;
    display: table;
}
#nav {
    display: table-row;
}
#nav  li {
    display: table-cell;
    float: none;
}
#nav  a:link, #nav  a:visited {
    display: block;
    border: 2px solid #ffffff;
    width: auto;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #98bf21;
    text-align: center;
    padding: 5px;
    text-decoration: none;

}
#nav a:hover, #nav  a:active {
    background-color: #7A991A;
}      
#section {
    margin: 0;
    text-align:center;
    padding:15px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#section a:link {
    padding-right:10px;
}
.h2 {
    font-size: 25px;
}
#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
#hint {
      display:none;
      position: absolute;
      border: 1px solid #c93;
      padding: 5px 6px;
      background-color: #ffc;
    }
#table {
    table-layout: fixed;
    text-align:center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;

}
#table td, #table th {
    font-size: 1em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}
#table th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}
#table tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
    word-wrap:break-word;
}
.td {
    word-wrap:break-word;
}
.error {
    color: red;
}
